@import './main.css';


.form{
    
    background-color: #1C2D48;
    font-family: var(--f-secundary);
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    width: 30rem;
    margin: 15px auto;


}

.form h2 {
    font-family: var(--f-primary);
    font-size: 1.5rem;
    text-align: center;
    margin:0 0 1.25rem;
    text-transform: uppercase;
}

.form {
    padding: 1.875rem 2.5rem;
}

.form-control {
    margin-bottom: 0.625rem;
    padding-bottom: 1.25rem;
    position: relative;
}

.form label {
    text-align: left;
    font-weight: bold;
    display: block;
    margin-bottom: 0.3125rem;
}

.form input, .form select, .form option{
    color: black;
    border: 0.125rem;
    border-radius: 0.25rem;
    display: block;
    width: 100%;
    padding: 0.625rem;
    font-size: 0.875rem;
    color: var(--clr-black);
}
.form input:focus {
    outline: 0;
    border: #737373 solid 0.125rem;
}

.form .sucesso input {
    border:var(--sucesso-cor)  solid 0.125rem;
}

.form-control.erro input {
    border: var(--erro-cor)  solid 0.125rem;
}

.form-control small{
    color: var(--erro-cor);
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}
.form-control.erro small{
    visibility: visible;
}

.form button{
    display: block;
    cursor: pointer;
    
    font-size: 1.2rem;
    font-family:var(--f-primary);
    letter-spacing: 2px;
    text-transform: uppercase;
    
    width: 100%;
    margin-top: 1.25rem;
    padding: 0.5rem;
    background-color: var(--clr-purple);
    border: 0.05rem solid var(--clr-purple);
    border-radius: 2%;
    margin-left: 0;

}

.accordion-item .accordion-header {
    padding-top: 20px;
}

.accordion-item:first-of-type .accordion-button {
    border-color: var(--clr-purple)!important;
}

.accordion-item , .accordion-item button{
    background-color: var(--clr-dark-blue)!important;
    margin-top: 0px;
    border: none;
}

.accordion-item button[aria-expanded=true]{
    background-color: var(--clr-purple);
    border-color: var(--clr-purple)!important;
}

.accordion-button:focus{
    box-shadow:none!important;
}

.form button:disabled{
cursor: not-allowed;}