@import './main.css';

body{
    font-family: var(--f-secundary);
    color: var(--clr-dark-blue);
    font-size: 100%;
    line-height: 1.5rem;
    width: 100%;
}

#container-carrinho{
    display: flex;
    justify-content: space-around;
}

#conteudo-carrinho{
    width: 70%;
    margin-top: 25px;
}

#container-carrinho h2{
    color: var(--clr-white);
    font-family: var(--f-primary);
    text-transform: uppercase;
    margin-bottom: 0;
}
table#carrinho-item{
    width: 100%;
}

table#carrinho-item th{
    text-align: center;
    text-transform: uppercase;
    font-size: 0.8rem;
}

th, td {
    padding: 0.5rem;
    border-bottom: #ccd 1px solid;
}

th.small, tr.produtos-carrinho td.small{
    width: 8em;
}

td.small{
    text-align: center;
}
div.preco, #total{
    font-size: 1em;
    color: var(--clr-white);
    font-weight: 400;
    text-align: center;
}

#total{
    font-size: 1.25em;
    color: var(--clr-white);
    font-weight: 700;
}
tr.produtos-carrinho{
    vertical-align: top;
    font-size: 100%;
    padding-top: 1em;
}

a.produto-link{
    text-decoration: none;
    color: var(--clr-white);
    font-size: 1.25em;
}

a.fabricante-link{
    text-decoration: none;
    columns: var(--clr-white);
}

a.delete-link{
    font-size: 0.8rem;
}


img.cover{
    height: 7.5em;
}
td.image{
    width: 8.125em;
}

tr.footer{
    text-align: right;
}

td .quantidade {
    color: #000;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid var(--clr-white);
    outline-color: var(--clr-dark-blue);
}

div.resumo-compra{
    margin-top: 65px;
}

.resumo-compra h3{
    font-family: var(--f-secundary);
}

table#pedidos{
    border-top: 1px solid var(--clr-white);
}

#pedidos td{
    border: none;
}

#pedidos .footer td{
    border-top: 1px solid var(--clr-white);
}

section#incluso-pedido{
  margin-top: 55px;
  float: right;
  margin-right: 40px;
  margin-bottom: 60px;
}

div#cupom-desconto, div#calcular-frete{
    margin-top: 15px;
    margin-left: 25px;
    
}

#cupom-desconto label, #calcular-frete label{
    display: block;
    font-family: var(--f-secundary);
    font-size: 17px;
}

#cupom-desconto input, #calcular-frete input{
    width: 200px;
    height: 30px;
    padding: 5px;
    color: var(--clr-dark-blue);
    border-radius: 10px 0px 0px 10px;
    outline:none;
    margin-right: 0px;
    border: 1px solid var(--clr-white);
}

#cupom-desconto .btn-geral, #calcular-frete .btn-geral{
    position: relative;
    width: 22%;
    height: 30px;
    padding: 5px;
    margin-left: 0px;
    border-radius: 0px 10px 10px 0px;
    right: 4.5px;
    top:1px
}

#calcular-frete .btn-geral{
    top:0px;
}

#calcular-frete small{
    display: block;
}

section.btn{
    width: 100%;
    display: flex;
    justify-content: space-around;
    

}
.btn .btn-geral {
    width: 25%;
}
.btn .btn-comprar{
    width: 25%;
}