@import './main.css';

body{
    background-color: var(--clr-dark-blue);
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

header{
    display: flex;
    opacity: 0.8;
    justify-content: space-between;
    width: 98%;
    height: 130px;
    margin: 25px 10px;
    padding: 10px;
    text-align: center;
    align-items: center;
    background-color: var(--clr-opacity-black);
    font-size: 1.05rem;
    
}

<<<<<<< HEAD


header div.header-logon img{
=======
header div.header-logo img{
>>>>>>> b3f53c222ccf33cecc7965b48a0a88986f1e0bd4
    width: 110px;
    height: 110px;
}

header nav.header-menu .menu-principal ul{ 
    display: flex;
    align-items: center;
    color: var(--clr-white);
    font-family: var(--f-secundary);
}
header nav.header-menu .menu-principal ul li{
    text-transform: uppercase;
<<<<<<< HEAD
=======
    color: var(--clr-white);
>>>>>>> b3f53c222ccf33cecc7965b48a0a88986f1e0bd4
    letter-spacing: 0.05rem;
    padding: 20px;}

header nav.header-menu .menu-principal ul li:hover{
    background-color: var(--clr-purple);
    height: 60px;
    border-radius: 5px;
}
.carrcell {
    width: 100%;
    overflow: hidden;
}