@import './main.css';
@import './header_footer.css';

.conteudo-principal{
    width: 100%;
    margin-bottom: 25px;
}

.conteudo-principal .banner-home .img-banner img{
    width: 100%;
    height: 450px;
}

.conteudo-principal .banner-home .img2-banner img{
    position: absolute;
    bottom: 42%;
    left: 74%;
    width: 250px;
    height: 250px;
    border: 3px solid var(--clr-purple);
    border-radius: 10px;
    outline: 100px;
}

.conteudo-principal .banner-home .texto-banner{
    position: absolute;
    align-items: center;
    padding: 10px;
    width: 300px;
    height: 200px;
    border: 2px solid var(--clr-purple);
    border-radius: 10px;
    background-color: var(--clr-purple);
    bottom: 65%;
    left: 73%;
    font-family: var(--f-third);
}

.conteudo-principal .banner-home .texto-banner h6{
    padding-bottom: 3px;
    font-size: 14px;
    text-align: left;
}

.conteudo-principal .banner-home .texto-banner h2, .conteudo-principal .banner-home .texto-banner h4{
    padding-bottom: 5px;
    text-transform: uppercase;
}

.conteudo-principal .banner-home .texto-banner p{
    padding-top: 10px;
    padding-bottom: 10px;
}

.mais-vendidos, .categorias{
    margin-top: 50px;
    width: 100%;
}
.mais-vendidos .mais-vendidos_titulo, .categorias .categorias_titulo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    background-color: var(--clr-opacity-black); 
}
.mais-vendidos .mais-vendidos_titulo .mais-vendidos_titulo_nome h3, .categorias .categorias_titulo .categorias_titulo_nome h3{
    font-family: var(--f-primary);
    font-weight: 400;
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.mais-vendidos .mais-vendidos_produtos, .categorias .categorias_produtos{
    display: flex;
    margin: 20px;
    justify-content: space-around;
}

.mais-vendidos .mais-vendidos_produtos .mais-vendidos_produtos_1 img{
    width: 218px;
}

.mais-vendidos .mais-vendidos_produtos .mais-vendidos_produtos_1 p, .categorias .categorias_produtos .categoria_produtos_1 p{
    font-family: var(--f-third);
    
}

.mais-vendidos .mais-vendidos_produtos .mais-vendidos_produtos_1 p:nth-child(2){
    padding-top: 5px;
    padding-bottom: 5px;
}

.mais-vendidos .mais-vendidos_produtos .mais-vendidos_produtos_1 button{
    margin-top: 10px;
}

.categorias .categorias_produtos .categoria_produtos_1 img{
    width: 203px;
    height: 271px;
}

.banner-desconto{
    margin-top: 100px;
}

.banner-desconto .texto-banner_desconto{
    position: absolute;
    top: 1650px;
    left: 700px;
    padding: 10px;
    border: 1px solid var(--clr-purple);
    border-radius: 20px;
    background-color: var(--clr-purple);
    width: 25%;
    height: 300px;
}

.banner-desconto .texto-banner_desconto h4 {
    font-size: 22px;
    font-family: var(--f-primary);
    padding-top: 25px;
    padding-bottom: 25px;
}

.banner-desconto .texto-banner_desconto h2{
    font-size: 60px;
    font-family: var(--f-primary);
}
