@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@300&display=swap');

:root{

    --f-primary: "Montserrat", Arial, sans serif;
    --f-secundary: "Roboto", Arial, sans serif;

    --clr-opacity-black: #33363F;
    --clr-dark-blue: #1C2D48;
    --clr-light-blue:#98BEFC;
    

}