@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=VT323&display=swap');
:root{

   --f-primary : "Montserrat", Arial, sans serif;
    --f-secundary: "Roboto", Arial, sans serif;
    --f-third: "Open sans", Arial, sans serif;
    --f-fourth: "VT323",Arial, sans serif;

    --clr-opacity-black: #33363F;
    --clr-black:#060506;
    --clr-dark-blue: #1C2D48;
    --clr-light-blue:#98BEFC;
    --clr-green:#0B870B;
    --clr-purple:#8858ed;
    --clr-white:#fff;

    --sucesso-cor:#2ecc71;
    --erro-cor:#e74c3c;
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color:var(--clr-white)
}

.btn-comprar{
    background-color: var(--clr-green);
    padding: 10px;
    font-family: var(--f-secundary);
    text-transform: uppercase;
    outline: none;
    border: 1px solid var(--clr-green);
    border-radius: 7px;

    margin-left: 15px;
    cursor: pointer;
}

.btn-geral{
    background-color: var(--clr-purple);
    padding: 10px;
    width: 99%;
    font-family: var(--f-secundary);
    text-transform: uppercase;
    outline: none;
    border: 1px solid var(--clr-purple);
    border-radius: 7px;

    margin-left: 15px;
    cursor: pointer;
}
