@import './main.css';


.fa-2x {
font-size: 2em;
}
.fa {
position: relative;

width: 60px;
height: 36px;
text-align:center;
vertical-align:mid;
font-size:20px;
}


.sidebar {
  float: left;
  background-color: var(--clr-opacity-black);
  align-items: center;
  margin-top: 1rem;
  margin-left: 1.2rem;
}

.main-menu>ul {
margin:7px 0;
}

.main-menu li {
position:relative;
display:block;
width:250px;
}

.main-menu li>a {
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
color:transparent;
 font-family: arial;
font-size: 14px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .1s linear;
transition:all .1s linear;
  
}

.main-menu .nav-icon {
position:relative;
display:block;
width:60px;
height:36px;
text-align:center;
vertical-align:baseline;
font-size:18px;
}

.main-menu .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
width:190px;
  font-family: 'Titillium Web', sans-serif;
}


.main-menu>ul.logout {
position:absolute;
left:0;
bottom:0;
}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:hidden;
}

a:hover,a:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color:#fff;
background-color:var(--clr-purple);
}

@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}
/* estilos gerais  */
#catalogo-produtos{
  margin-left: 10rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.quantidadesProdutos{
  margin: 12.5rem 5rem 1rem 5rem;
  color:var(--clr-white);
  font-size: 1.2rem;
  font-family: var(--f-secundary);
  font-weight: bold;
}
.listaProdutos {
  padding: 10px;
  width: 25%;
  text-align: center;
  margin-bottom: 10px;
  background-color: transparent;
  border: transparent 1px;
  border-radius: 10px;
  cursor: pointer;

  transition: 0.3s ease-in;
  transform: scale(0.98);
}

.titulo-preco section h4.nome-produto{
  font-size: 1rem;
  font-weight: 300;
  font-family: var(--f-primary);
  color: var(--clr-purple-2);
  text-align: center;
  text-transform: uppercase;
  margin-top: 10px;
  height: 58px;
  width: 100%;
}
.titulo-preco section h4.preco{
  color: var(--clt-dark-purple-2);
  text-align: center;
  padding: 5px;

}
.listaProdutos img.produto-img {
  width: 200px;
  height: 200px;
}

.listaProdutos:hover {
  border: 1px solid var(--clr-light-gray);
  transform: scale(1);
}

.listaProdutos .btn-comprar {
  margin-top: 5px;
  width: 50%;
  height: 30px;
  padding: 5px;

  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 3px;

  background-color: var(--clr-green);
  color: var(--clr-white);
  border: 1px solid var(--clr-white);
  border-radius: 10px;
  cursor: pointer;
}

.listaProdutos .btn-comprar:hover {
  text-decoration: none;
  background-color: var(--clr-purple);
  color: white;
}

#no-products {
  width: 100%;
  background-color: darkorchid;
  color: white;
  text-align: center;
}