<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="./style/style.css">
    <script src="./js/script.js" defer></script>

    <title>Cadastro</title>


</head>

<body>

    <div class="container">
        <form id="form" class="form">
            
            <h2>Faça seu cadastro conosco!</h2>
            
            <div class="form-control">
                
                <label for="nome-usuário">Nome:</label>
                <input type="text" id="nome-usuario" placeholder="Coloque seu nome aqui!">
                <small>Mensagem de Erro</small>
            </div>

            <div class="form-control">
                
                <label for="sobrenome-usuário">Sobrenome:</label>
                <input type="text" id="sobrenome-usuario" placeholder="Coloque seu sobrenome aqui!">
                <small>Mensagem de Erro</small>
            </div>
            
            <div class="form-control">
                <label for="email-usuario">E-mail:</label>
                <input type="text" id="email-usuario" placeholder="Coloque seu e-mail aqui!">
                <small>Mensagem de Erro</small>
            </div>
            
            <div class="form-control">   
                <label for="senha-usuário">Cadastre sua senha:</label>
                <input type="password" id="senha-usuario" placeholder="Coloque seu senha aqui!">
                <small>Mensagem de Erro</small>
            </div>
            
            <div class="form-control">
                <label for="senha2-usuário">Confirme sua senha:</label>
                <input type="password" id="senha2-usuario" placeholder="Confirme sua senha aqui!">
                <small>Mensagem de Erro</small>
            </div>

            <button type="submit">Enviar</button>

        </form>
    </div>
    


</body>
</html>