<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style/carrinho.css">
    <title>64 Games  - Carrinho</title>
</head>
<body>
    
    <main id="container-carrinho">
        <div id="conteudo-carrinho">
            <h2>Meu Carrinho</h2>

            <table id="carrinho-item">
                <thead>
                    <tr>
                        <th colspan="2">
                            Item
                        </th>
                        <th>
                            Preço
                        </th>
                        <th>
                            Quantidade
                        </th>
                    </tr>
                </thead>
                <tbody class="produtos-carrinho">
                    <td class="image">
                        <img src="../public/image/acessorio_1.webp" alt="Acessorio - teclado" class="cover">
                    </td>

                    <td>
                        <div class="produto-item">
                            <a href="#" class="produto-link"> Teclado Game - RGBA </a>
                            <a href="#" class="fabricante-link">XXXX</a>
                        </div>

                        <div>
                            <input type="checkbox" id="presente">
                            <label for="gift">Embalagem para presente</label>
                        </div>
                        <div>
                            <a href="#" class="delete-item">Tirar do carrinho</a>
                        </div>
                    </td>

                    <td class="small">
                        <div class="preco">R$ 99,90</div>
                    </td>
                    <td class="small">
                        <input class="quantidade" type="number" value="1" size="2" maxlength="2" min="1" max="10" step="1">
                    </td>
                </tr>

                </tbody>
            </table>
        </div>

        <div class="resumo-compra">
            <h3>Resumo do Pedido</h3>
            
            <table id="resumo">
                <tr class="subtotal">
                    <td>Subtotal:</td>
                    <td class="valorSubtotal">R$99,90</td>
                </tr>
            
                <tr class="frete">
                    <td>Frete:</td>
                    <td class="valorFrete">R$99,90</td>
                </tr>
            
                <tr class="desconto">
                    <td>Desconto do Cupom:</td>
                    <td class="valorDesconto"> - R$10,00</td>
                </tr>
                <tr class="footer">
            
                    <td>Total de compra</td>
                    <td colspan="2">
                        <div id="total">R$ 189,70</div>
                    </td>
            
                </tr>
            </table>
        </div>

    </main>

    <section id="incluso-pedido">
        <div id="cupom-desconto">
            <label for="codigo-desconto">Insira o código promocional</label>
            <input type="text" name="codigo-desconto" id="cod-desconto">
            <button type="submit" class="btn-geral">Enviar</button>
        </div>

        <div id="calcular-frete">
            <label for="info-cep">Informe seu CEP:</label>
            <input type="text" name="info-cep" id="cod-cep">
            <button type="submit" class="btn-geral">Enviar</button>
            <small><a href="#">Não sabe o CEP, Clique aqui!</a></small>
        </div>
    </section>

    <section class="btns">

        <button class="btn-geral">Continuar Comprando</button>
        <button class="btn-comprar">Finalizar Compra</button>

    </section>

</body>
</html>