<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style/descricao_produtos.css">
    <title>64Games</title>
</head>
<body>
    <main>
        
        <div class="container-descricao">
            
            <div class="img-pequenas">
                <ul>
                    <li><img src="../public/image/console-personalizado.webp" alt=""></li>
                    <li><img src="../public/image/console-personalizado.webp" alt=""></li>
                    <li><img src="../public/image/console-personalizado.webp" alt=""></li>
                </ul>
            </div>
            
            <div class="imgem-produto">
                <img src="../public/image/console-personalizado.webp" alt="Controle ps4 personalizado">
            </div>
        
            <div class="nome-produto">
                <h3>Controle PS4 Personalizado</h3>
                <small>SKU:0001</small>
                <div class="preco-produto">
                    <div class="preco-normal">
                        <h5>De</h5>
                        <h4> R$ 355,00 </h5>
                    </div>
                    <div class="preco-promocional">
                            <h5>Por</h5>
                            <h4>R$ 285,00</h5>
                    </div>
    
                    <div class="quantidade-produto">
                        <form action="">
                            <label for="quantidade">Quantidade</label>
                            <input type="number" id="quantidade" class="form-control" name="quantidade" value="1" step="1" required>
                            <button type="submit" class="btn-comprar"><a href="#">Comprar</a></button>
                        </form>
                    </div>
                </div>
            </div>
           
            
            
        </div>
        <div class="descricao">
            <div class="descricao-curta">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum sapiente ab impedit consectetur quaerat. Aut consectetur in quidem pariatur excepturi impedit, necessitatibus iste error? Libero fugit accusantium quos quibusdam corporis?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum sapiente ab impedit consectetur quaerat. Aut consectetur in quidem pariatur excepturi impedit, necessitatibus iste error? Libero fugit accusantium quos quibusdam corporis?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum sapiente ab impedit consectetur quaerat. Aut consectetur in quidem pariatur excepturi impedit, necessitatibus iste error? Libero fugit accusantium quos quibusdam corporis?</p>
            </div>
            <div class="descricao-longa">
                <h3>Informações de Produto</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum sapiente ab impedit consectetur quaerat. Aut consectetur in quidem pariatur excepturi impedit, necessitatibus iste error? Libero fugit accusantium quos quibusdam corporis?</p>
            </div>
        </div>
    </main>
</body>
</html>