<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/df04d68bf4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../public/style/header_footer.css">
    <title>64Games</title>
</head>
<body>
    <header id="header">
        <div class="header-logon">
            <img src="../public/image/IMG-20220823-WA0012.jpg" alt="Logomarca 64 64Games">
        </div>
        <nav class="header-menu">
            <div class="menu-principal">
                <ul>
                    <li><a href="#">Produtos</a></li>
                    <li><a href="#">Promoções</a></li>
                    <li><a href="#">Fale Conosco</a></li>
                    <li><a href="#"><i class="fa-solid fa-user"></i> Login</a></li>
                    <li><a href="#"><i class="fa-solid fa-bag-shopping"></i></a></li>
                </ul>
            </div>
        </nav>
    </header>
</body>
</html>