<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/df04d68bf4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../public/style/login.css">
    
    <title>64 Ganes - Login</title>
</head>
<body>
    <main class="login">
        <h3 class="titulo-login">Login</h3>
        <div class="novo-login">
            <h5>Novo por aqui? <a href=""> Registre-se</a></h5>
        </div>
        <form action="" class="login-entrar">
            <label for="email">E-mail:</label>
            <input type="email" name="email" id="email">
            <label for="senha">Senha:</label>
            <input type="password" name="senha" id="senha">
            <small><a href="http://"> Esqueceu a senha?</a></small>
            <button class="btn-login" type="submit">Entrar</button>
        </form>

        <div class="login-externo">
            <div class="titulo-login__externo">
                <div class="linha-direita">
                    <hr>
                </div>
                <div class="texto-login__externo">
                    <h4>ou faça login com</h4>
                </div>
                <div class="linha-esquerda">
                    <hr>
                </div>
            </div>
            <div class="login-facebook">
                <button><i class="fa-brands fa-square-facebook"></i>  Facebook</button>
            </div>

            <div class="login-google">
                <button type="submit"><i class="fa-brands fa-google"></i> Google</button>
            </div>
        </div>

        
    </main>
</body>
</html>