<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>64 Ganes - Login</title>
</head>
<body>
    <main class="login">
        <form action="" class="login-entrar">
            <h3 class="titulo-login">Login</h3>
            <label for="email">E-mail</label>
            <input type="email" name="email" id="email">
            <label for="senha">Senha</label>
            <input type="password" name="senha" id="senha">
            <small>Esqueceu a senha?</small>
            <button type="submit">Fazer Login</button>
        </form>

        <div class="login-externo">
            <h4>ou faça login com</h4>
            <div class="login-facebook">
                <button>Entrar com Facebook</button>
            </div>

            <div class="login-google">
                <button type="submit">Entrar com Google</button>
            </div>
        </div>

        <div class="novo-login">
            <h5>Novo por aqui <a href="">Registre-se</a></h5>
        </div>
    </main>
</body>
</html>