<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/df04d68bf4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../public/style/produtos.css">

    <title>64Games</title>
</head>

<body>
    


        <aside class="sidebar">

            <nav class="main-menu">
                <span class="nav-text">
                    Filtrar Por:
                </span>
                <ul>
                    <li>
                        <a href="#">
                            <i class="fa fa-globe fa-2x"></i>
                            <span class="nav-text">
                                Todos
                            </span>
                        </a>

                    </li>
                    <li class="has-subnav">
                        <a href="#">
                            <i class=" fa-playstation fa "></i>
                            <span class="nav-text">
                                Consoles
                            </span>
                        </a>

                    </li>
                    <li class="has-subnav">
                        <a href="#">
                            <i class="fas fa-ghost fa"></i>
                            <span class="nav-text">
                                Games
                            </span>
                        </a>

                    </li>
                    <li class="has-subnav">
                        <a href="#">
                            <i class="fa fa-folder-open fa-2x"></i>
                            <span class="nav-text">
                                Controllers
                            </span>
                        </a>

                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-gamepad fa-2x"></i>
                            <span class="nav-text">
                                Acessorios
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fas fa-tag fa"></i>
                            <span class="nav-text">
                                A Venda
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fas fa-award fa 1x"></i>
                            <span class="nav-text">
                                Best Sellers
                            </span>
                        </a>
                    </li>
                </ul>

            </nav>
            <!--fim do menu lateral-->
        </aside>
        
                
                <div id="catalogo-produtos">
                    <!--inicio das imagens dos produtos -->

                </div>
      

            
            
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"
        integrity="sha512-WFN04846sdKMIP5LKNphMaWzU7YpMyCU245etK3g/2ARYbPK9Ub18eG+ljU96qKRCWh+quCY7yefSmlkQw1ANQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="../public/script/produtos.js"></script>
</body>

</html>