@import './main.css';

body{
    background-color: var(--clr-dark-blue);
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

header{
    display: flex;
    opacity: 0.8;
    justify-content: space-between;
    width: 100%;
    height: 130px;
    margin: 25px auto;
    padding: 10px;
    text-align: center;
    align-items: center;
    background-color: var(--clr-opacity-black);
    font-size: 1.05rem;
    
}

header .header-logo a img{

    width: 110px;
    height: 110px;
}

header nav.header-menu .menu-principal ul{ 
    display: flex;
    align-items: center;
    color: var(--clr-white);
    font-family: var(--f-secundary);
}
header nav.header-menu .menu-principal ul li{
    text-transform: uppercase;
    color: var(--clr-white);
    letter-spacing: 0.05rem;
    padding: 20px;}

header nav.header-menu .menu-principal ul li:hover{
    background-color: var(--clr-purple);
    height: 60px;
    border-radius: 5px;
}
.carrcell {
    width: 100%;
    overflow: hidden;
}

footer {
    font-family: var(--f-secundary);
    background-color: var(--clr-opacity-black);
    opacity: 0.8;
    margin: 0px 10px;
    padding: 20px;
    padding-bottom: 0;
}

footer .footer-principal{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


footer .footer-logomarca a img{
    width: 110px;
    height: 110px;
    
}

footer .titulo{
    margin-bottom: 15px;
    letter-spacing: 2px;
    font-weight: 400;
}

footer ul li:nth-child(2){
margin-top: 10px;
margin-bottom: 10px;
}

footer ul li:nth-child(4){
    margin-top: 10px;
    margin-bottom: 10px;
}

footer ul li:nth-child(6){
    margin-top: 10px;
    margin-bottom: 10px;
}

footer div.footer-redes_sociais{
    text-align: right;
}
footer div.footer-redes_sociais h4{
    font-weight: 400;
    padding: 10px;
    border-bottom: 1px dotted var(--clr-white);
}

footer div.footer-redes_sociais ul{
    display: inline-flex;
    font-size: 25px;
    margin-bottom: 0px;
}

footer div.footer-redes_sociais ul li{
    align-items: center;
    margin-top:10px;

}
footer div.footer-redes_sociais ul li:nth-child(2){
    margin-left: 10px;
    margin-right: 10px;
}
footer div.footer-redes_sociais ul li:nth-child(4){
    margin-left: 10px;
    margin-right: 10px;
}
footer div.formas-de-pagamento{
    text-align: left;
}
footer div.formas-de-pagamento h4{
    font-weight: 400;
    padding: 10px;
    padding-left: 0;
    border-bottom: 1px solid var(--clr-white);
}

footer div.formas-de-pagamento ul{
    background-color: var(--clr-white);
    width: 100%;
    display: inline-flex;
    font-size: 25px;
}

footer div.formas-de-pagamento ul li{
    align-items: center;
    margin-top:10px;
}

footer div.formas-de-pagamento ul li i{
    color: var(--clr-dark-blue);
    padding: 5px;
    font-size: 30px;
}
footer div.formas-de-pagamento ul li:nth-child(2){
    margin-left: 10px;
    margin-right: 10px;
}
footer div.formas-de-pagamento ul li:nth-child(4){
    margin-left: 10px;
    margin-right: 10px;
}
footer div.formas-de-pagamento ul li:nth-child(6){
    margin-left: 10px;
    margin-right: 10px;
}
