@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color:black
}

body{
    font-family: "Lato", sans-serif;
    margin: 10px auto;
    padding: 10px;
    width: 90%;
}
body button{
    border: none;
}

.header-modal-filtro{
    display: flex;
    justify-content: space-between;
    
}

.filtros-selecionados{
    width: 30%;
    padding: 0.05em;
    margin: 1em;
}

.classe-filtros {
    width: 100%;
    

}

.classe-filtros button{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    padding: 0.5rem 0;
}

.header-filtro{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.header-filtro .header-filtro-conteudo{
    font-size: 10px;
}

.header-filtro .header-filtro-controle button{
    font-size: 12px;
    font-weight: bold;
    margin-right: 10px;
    
}
.header-filtro .header-filtro-controle{
    display: inline-flex;
    text-transform: uppercase;
    font-size: 12px;

}

.header-filtro .header-filtro-controle a{
    align-items: center;
    top:-15px
}





